.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

pre {
  background-color: #D1D1D0;
  overflow: auto;
  font-family: 'Monaco', monospace;
  padding: 0 1em;
}



code {
    font-family: Monaco, monospace;
    font-size: base-font-size;
    line-height: 100%;
    background-color: #eee;
    padding: 0.2em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 5px;
  }



pre code {
    border: none;
    background: none;
    font-size: base-font-size * 0.875;
    line-height: 1em;
    letter-spacing: normal;
    word-break: break-all;
}

body,html{
  padding:0;
  height:100%;
}

#copy, #logo {
  opacity: 1;
  position: absolute;
  margin:auto;
  max-height: 300px;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

#main {
  width: 100%;
  height:auto;
}


#photo {
  display:flex;
  height:350px;

  align-items: center;
  justify-content: center;
}

#photo > #photo-center {
  width:60%;
  position:relative;
  margin: 20px 0px;
}

#large{
    width:100%;
  }

#small{
  opacity:1;
  position:relative;
  max-height: 300px;
  left:0;
  top:0;
  z-index:1;
}

#small_1{
  opacity:1;
  position:relative;
  max-height: 300px;
  left:0;
  top:0;
  z-index:1;
}

#small_2{
  opacity:1;
  position:relative;
  transform: rotate(8deg);
  max-height: 300px;
  left:0;
  top:0;
}

#small_3{
  opacity:1;
  position:relative;
  transform: rotate(-6deg);
  max-height: 300px;
  left:0;
  top:0;
}

.top-navbar {
  z-index: 12;
  background-color: #007bff;
}

.fixed-top {
  position:relative;
}


.navbar {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:justify;
  justify-content:space-between;
  min-width: 100%;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .ml-sm-auto, .mx-sm-auto {
      margin-top: auto!important;
  }
}

@media (min-width: 576px) {
  .ml-sm-auto, .mx-sm-auto {
      margin-top: auto!important;
  }
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
